<h1>Detalle de cita</h1>

<p><strong>Fecha:</strong> <%= @appointment.date %></p>
<p><strong>Hora:</strong> <%= @appointment.hour %></p>
<p><strong>Motivo:</strong> <%= @appointment.reason_for_consultation %></p>
<p><strong>Estado:</strong> <%= @appointment.status %></p>

<%= link_to 'Confirmar', confirm_doctors_appointment_path(@appointment), method: :patch %> |
<%= link_to 'Cancelar', cancel_doctors_appointment_path(@appointment), method: :patch %> |
<%= link_to 'Volver', doctors_appointments_path %>
